@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --radius: 0.5rem
  }
}

@font-face {
  font-family: "AirbnbCustom";
  src: url('/src/app/fonts/AirbnbCerealVF.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}